.btn {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #003366;
    color: #fff;
    border: none;
    text-transform: uppercase;
    width: 60%;
}

.submit-btn:hover {
    background-color: #003399;
}