.wrapper {
    position: relative;
    top: 50%;
    transform: translateY(35%);
    z-index: 1;
    width: 800px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    align-self: center;
}

.intro {
    width: 720px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


.image-box {
    justify-content: center;
}

.image-container img {
    border-radius: 0 5px 5px 5px;
}

.gallery-container {
    display: block;
}

.gallery,
.assigned-images-gallery {
    display: flex;
    overflow: hidden;
    margin: auto;
    height: 300px;
    width: 720px;
    margin-bottom: 10px;
}

.assigned-images-gallery {
    flex-wrap: wrap;
}

.gallery div,
.assigned-images-gallery div {
    width: 720px;
}


.controls,
.assigned-controls {
    width: 720px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.assigned-controls {
    display: none;
}

.assigned-controls.active {
    display: flex;
}





.thumbnails,
.assigned-thumbnails {
    width: 720px;
    height: 80px;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: left;
}


.thumbnails .slick-track,
.assigned-thumbnails .slick-track {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
}


.assigned-thumbnails .slick-track {
    width: 720px;
    transform: translate3d(0px, 0px, 0px);
}

.assigned-thumbnails {
    display: none;
}

.assigned-thumbnails.active {
    display: block !important;
    transform: translateZ(0);
}



.thumbnail,
.assigned-thumbnail {
    height: 80px;
    max-height: 80px;
    width: 16%;
    display: inline;
    transform: translateZ(0);
}

.thumbnail img,
.assigned-thumbnail img {
    border-radius: 5px;
}




.image-container img {
    width: 720px;
    object-fit: cover;
}



.slider {
    display: flex;
    transition: transform 0.8s ease;
    justify-content: space-between;
}

.sliders-container {
    position: relative;
}

.assigned-images-container {
    display: none;
}

.assigned-images-container.active {
    display: block;
}

.img-gen.active,
.ass-img.active {
    background-color: #003366;
    border: 3px solid #d3d3d3f0;
    color: #fff;
}

.titles {
    display: flex;
    margin-left: 40px;
    margin-right: 50px;
}

.titles h2 {
    padding: 5px;
    font-size: 1.5rem;
    background-color: #d3d3d3f0;
    border: 3px solid #003366;
    border-radius: 5px 15px 0 0;
}







.container h1,
h2,
p {
    text-align: center;
}

h1 {
    padding: 0;
    padding-top: 20px;
    margin-bottom: 0;
}

.intro p {
    margin-bottom: 50px;
}

input {
    height: 50px;
    width: 49%;
    padding-left: 20px;
    border-radius: 5px;
    background-color: #fff;
    border: 3px solid #003366;
    margin-bottom: 10px;
}

input:focus {
    outline: none;
}


.image-input {
    display: flex;
    justify-content: space-between;
}


.form-container {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

#emailForm {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}


#email-form label,
#email-form input {
    display: block !important;
}


#email {
    display: block;
    width: 49%;
}

.toast-success {
    background-color: #003366;
}