.wrapper {
    position: relative;
    top: 50%;
    transform: translateY(35%);
    z-index: 1;
    width: 800px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    align-self: center;
}

.intro {
    width: 720px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


.image-box {
    justify-content: center;
}

.image-container img {
    border-radius: 5px;
}


.gallery {
    display: flex;
    overflow: hidden;
    margin: auto;
    height: 300px;
    width: 720px;
    margin-bottom: 10px;
}

.gallery div {
    width: 720px;
}


.controls {
    width: 720px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}




.image-container img {
    width: 720px;
    object-fit: cover;
}



.slider {
    display: flex;
    transition: transform 0.8s ease;
    justify-content: space-between;
}







.container h1,
h2,
p {
    text-align: center;
}

h1 {
    padding: 0;
    padding-top: 20px;
    margin-bottom: 0;
}

.intro p {
    margin-bottom: 50px;
}

input {
    height: 50px;
    width: 49%;
    padding-left: 20px;
    border-radius: 5px;
    background-color: #fff;
    border: 3px solid #003366;
    margin-bottom: 10px;
}

input:focus {
    outline: none;
}


.image-input {
    display: flex;
    justify-content: space-between;
}


.form-container {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

#emailForm {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}


#email-form label,
#email-form input {
    display: block !important;
}


#email {
    display: block;
    width: 49%;
}

// found this background effect on codepen thought it looked pretty cool 

.grid {
    width: 100%;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: absolute;
    z-index: -1;

}

.destinations {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.destinations .grid li {
    height: 600px;
    padding: 10px;
    background-clip: content-box;
    background-size: cover;
}

.destinations .grid li.large {
    flex-basis: 40%;
}

.destinations .grid li.small {
    flex-basis: 25%;
}

.destinations .grid li.med {
    flex-basis: 35%;
}

/* .seq-in .content {
  transform: translateY(0);
  transition: .2s;
}

.content {
  transform: translateY(100%);
}

.seq-in .content {
transform: translateY(0);
transition: .25s;
}

.seq-in .threed{
  animation-name: threed; 
  animation-duration: 1s;
} */